In [3]:
from utils import *
#config = config_read()

In [2]:
config

Available objects for config:
     AliasManager
     DisplayFormatter
     HistoryManager
     IPCompleter
     IPKernelApp
     LoggingMagics
     MagicsManager
     OSMagics
     PrefilterManager
     ScriptMagics
     StoreMagics
     ZMQInteractiveShell

In [2]:
import pandas as pd
import pickle
#import feather

In [2]:
!pwd

/Users/aa383554/git/kaggle-pipeline2

In [6]:
feather = pd.read_feather("/Users/aa383554/git/kaggle-pipeline2/features/fare_train.feather")
pickle = pd.read_pickle("/Users/aa383554/git/kaggle-pipeline2/features/fare_train.pkl")

In [9]:
feather.tail()

     Fare
886     1
887     2
888     2
889     2
890     0

In [10]:
pickle.tail()

     Fare
886     1
887     2
888     2
889     2
890     0