In [ ]:
import pandas as pd
df = pd.DataFrame()

In [ ]:
if

In [ ]:
if "df" in locals():
    print("lol")

In [ ]:
locals()

In [ ]:
from configs.local_parameter import *
train_df = pd.read_csv(f'{MODEL_PASS}/{CASE}/train_case1_20200329071030.csv')

In [ ]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
train_df.isnull().sum()

In [ ]:
train_df.iloc[853720:853820,]

In [ ]:
train_df.shape

In [ ]:
train_df.head()

In [ ]:
data = pd.read_pickle(f'{DATA_PATH}/data.pkl')

In [ ]:
data.head()

In [ ]:
features = [pd.read_pickle(f'{ROOT_PATH}/features/{f}.pkl') for f in FEATURE]

In [ ]:
features[0]

In [ ]:
data.shape

In [ ]:
features_concat = pd.concat(features, axis=1, sort=False)

In [ ]:
import gc
gc.collect()

In [ ]:
features_concat.tail()

In [ ]:
data = pd.concat([data,features_concat], axis=1, sort=False)

In [ ]:
data.tail()

In [ ]:
train_df = data[data['date'] <= '2016-03-27']

In [ ]:
train_df.head()

In [ ]:
train_df.tail()

In [1]:
import pandas as pd

In [3]:
from configs.local_parameter import *
train_df = pd.read_pickle(f"{MODEL_PASS}/{CASE}/train_case1_20200329112220.pkl")

In [5]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,001_lag_t28,001_lag_t29,001_lag_t30,002_rolling_mean_t7,002_rolling_std_t7,002_rolling_mean_t30,002_rolling_mean_t90,002_rolling_mean_t180,002_rolling_std_t30,002_rolling_skew_t30,002_rolling_kurt_t30,003_price_change_t1,003_price_change_t365,003_rolling_price_std_t7,003_rolling_price_std_t30,004_year,004_month,004_week,004_day,004_dayofweek
0,HOUSEHOLD_1_514_WI_3_validation,0,0,0,0,0,16,0,2013-07-18,11325,0,0,0,0,0,0,0,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
1,HOUSEHOLD_1_515_WI_3_validation,1,0,0,0,0,1,0,2013-07-18,11325,0,0,0,0,0,0,0,2.470703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
2,HOUSEHOLD_1_516_WI_3_validation,2,0,0,0,0,1,0,2013-07-18,11325,0,0,0,0,0,0,0,1.980469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
3,HOUSEHOLD_1_517_WI_3_validation,3,0,0,0,0,1,0,2013-07-18,11325,0,0,0,0,0,0,0,0.979980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
4,HOUSEHOLD_1_518_WI_3_validation,4,0,0,0,0,0,0,2013-07-18,11325,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame()

df["A"] = [1,2,3]
df["B"] = [4,np.inf,5]
df["C"] = [10,20000,-np.inf]

In [9]:
df

   A    B        C
0  1  4.0     10.0
1  2  inf  20000.0
2  3  5.0     -inf

In [12]:
df.replace([np.inf, -np.inf], np.nan,inplace=True)

In [13]:
df

   A    B        C
0  1  4.0     10.0
1  2  NaN  20000.0
2  3  5.0      NaN