In [3]:
from utils import *
#config = config_read()

In [2]:
config

Available objects for config:
     AliasManager
     DisplayFormatter
     HistoryManager
     IPCompleter
     IPKernelApp
     LoggingMagics
     MagicsManager
     OSMagics
     PrefilterManager
     ScriptMagics
     StoreMagics
     ZMQInteractiveShell

In [1]:
import pandas as pd
import pickle

In [2]:
!pwd

/Users/aa383554/git/kaggle-pipeline2

In [5]:
a = pd.read_pickle("/Users/aa383554/git/kaggle-pipeline2/features/FamilySize_train.pkl")
b = pd.read_pickle("/Users/aa383554/git/kaggle-pipeline2/features/FamilySize_test_train.pkl")

In [6]:
a.head()

   FamilySize
0           2
1           2
2           1
3           2
4           1

In [7]:
b.head()

   FamilySize
0           3
1           3
2           2
3           3
4           2